sphinx
sphinxcontrib-bibtex
sphinx-autoapi
sphinx-autobuild
sphinx-autodoc-typehints
sphinxcontrib-prettyspecialmethods
sphinx-autodoc-napoleon-typehints
sphinx-codeautolink
sphinx-rtd-theme
pydata-sphinx-theme
sphinxcontrib-napoleon
Cython
numpy
setuptools-scm
toml